<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <system.data>
    <DbProviderFactories>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
      <add name="Informix Data Provider" invariant="IBM.Data.Informix" description=".Net Framework Data Provider for Informix" type="IBM.Data.Informix.IfxFactory, IBM.Data.Informix"/>
      <add name="DB2 Data Provider" invariant="IBM.Data.DB2.iSeries" description=".Net Framework Data Provider for DB2 iSeries" type="IBM.Data.DB2.iSeries.DB2Factory, IBM.Data.DB2.iSeries"/>
      <add name="Firebird Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description="Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient"/>
      <!--<add name="Oracle Data Provider" invariant="Oracle.DataAccess.Client" description=".Net Framework Data Provider for Oracle" type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess"/>-->
    </DbProviderFactories>
  </system.data>
  
  <appSettings>
    <add key="DAL" value="SextantTG.SQLiteDAL" />
    <add key="BLOG_DAL" value="SextantTG.SQLiteDAL.BlogDAL" />

  </appSettings>

  <connectionStrings>
    <add name="SQLiteConnection" connectionString="" />
  </connectionStrings>
  
</configuration>