<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <system.data>
    <DbProviderFactories>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
      <add name="Informix Data Provider" invariant="IBM.Data.Informix" description=".Net Framework Data Provider for Informix" type="IBM.Data.Informix.IfxFactory, IBM.Data.Informix"/>
      <add name="DB2 Data Provider" invariant="IBM.Data.DB2.iSeries" description=".Net Framework Data Provider for DB2 iSeries" type="IBM.Data.DB2.iSeries.DB2Factory, IBM.Data.DB2.iSeries"/>
      <add name="Firebird Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description="Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient"/>
      <!--<add name="Oracle Data Provider" invariant="Oracle.DataAccess.Client" description=".Net Framework Data Provider for Oracle" type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess"/>-->
    </DbProviderFactories>
  </system.data>
  
  <appSettings>
    
    <add key="DAL" value="SextantTG.SQLiteDAL" />
    <add key="BLOG_DAL" value="SextantTG.SQLiteDAL.BlogDAL" />
    <add key="CITY_DAL" value="SextantTG.SQLiteDAL.CityDAL" />
    <add key="COUNTRY_DAL" value="SextantTG.SQLiteDAL.CountryDAL" />
    <add key="FAVORITE_DAL" value="SextantTG.SQLiteDAL.FavoriteDAL" />
    <add key="PERMISSION_DAL" value="SextantTG.SQLiteDAL.PermissionDAL" />
    <add key="PICTURE_DAL" value="SextantTG.SQLiteDAL.PictureDAL" />
    <add key="PICTURECOMM_DAL" value="SextantTG.SQLiteDAL.PictureCommentDAL" />
    <add key="PROVINCE_DAL" value="SextantTG.SQLiteDAL.ProvinceDAL" />
    <add key="SIGHTS_DAL" value="SextantTG.SQLiteDAL.SightsDAL" />
    <add key="SIGHTSCOMM_DAL" value="SextantTG.SQLiteDAL.SightsCommentDAL" />
    <add key="SUBTOUR_DAL" value="SextantTG.SQLiteDAL.SubTourDAL" />
    <add key="TOUR_DAL" value="SextantTG.SQLiteDAL.TourDAL" />
    <add key="TOURCOMM_DAL" value="SextantTG.SQLiteDAL.TourCommentDAL" />
    <add key="USER_DAL" value="SextantTG.SQLiteDAL.UserDAL" />
    <add key="USERCOMM_DAL" value="SextantTG.SQLiteDAL.UserCommentDAL" />
    <add key="DATA_CONTEXT" value="SextantTG.SQLiteDAL.DataContext" />

    <add key="SERVICES" value="SextantTG.Services" />
    <add key="DICT_SERVICE" value="SextantTG.Services.DictService" />
    <add key="BLOG_SERVICE" value="SextantTG.Services.BlogService" />
    <add key="USER_SERVICE" value="SextantTG.Services.UserService" />
    <add key="COMMENT_SERVICE" value="SextantTG.Services.CommentService" />
    <add key="SIGHTS_SERVICE" value="SextantTG.Services.SightsService" />
    <add key="TOUR_SERVICE" value="SextantTG.Services.TourService" />
    <add key="PICTURE_SERVICE" value="SextantTG.Services.PictureService" />

    <!--
    <add key="ADVICE" value="SextantTG.AopAdvice" />
    <add key="USER_AFTER_ADVICE" value="SextantTG.AopAdvice.UserAfterAdvice" />
    <add key="SIGHTS_AFTER_ADVICE" value="SextantTG.AopAdvice.SightsAfterAdvice" />
    <add key="TOUR_AFTER_ADVICE" value="SextantTG.AopAdvice.ToursAfterAdvice" />
    <add key="EXCEPTION_ADVICE" value="SextantTG.AopAdvice.ExceptionAdvice" />
    -->
    
    <add key="LOG" value="SextantTG.STGNLog" />
    <add key="LOG_HELPER" value="SextantTG.STGNLog.LogHelper" />
    
    <add key="LOG" value="SextantTG.STGNLog" />
    <add key="LOG_HELPER" value="SextantTG.STGNLog.LogHelper" />
    
    <!--
    <add key="ENABLE_AOP" value="true" />
    -->
    
    <add key="PIC_PATH" value="pic/" />
    <add key="DB_FILE" value="db/sgt.db3" />
    
  </appSettings>

  <connectionStrings>
    <add name="SQLiteConnection" connectionString="Data Source=db/sgt.db3;Version=3;" />
  </connectionStrings>
  
</configuration>